@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: reference check */
/* @font-face {
  font-family: 'WiredMono';
  src: url('/path/to/WiredMono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

.theme-primary {
  --body: #e2d7b7;
  --accent: #b8a77a;
  --border: #222222;
  --warning: #ff5733;
  --shadow: 0 8px 32px #0004;
}

/* .theme-secondary {
  --body: #070238;
  --accent: #4b0899;
  --border: #ecebed;
  --warning: #ff5733;
  --shadow: 0 8px 32px #525151;
} */

.theme-secondary {
  --body: #101c19;
  --accent: #45796d;
  --border: #93ffe6;
  --warning: #ff5733;
  --shadow: 0 8px 32px #525151;
}

/* --primaryColorRef: #93ffe6;
    --mixedColor1Ref: #84e6cf;
    --mixedColor1_5Ref: #7ddac4;
    --mixedColor2Ref: #77ceba;
    --mixedColor3Ref: #6ab8a5;
    --mixedColor4Ref: #5da292;
    --mixedColor5Ref: #518d7f;
    --mixedColor6Ref: #45796d;
    --mixedColor7Ref: #3a665b;
    --mixedColor7_5Ref: #355c53;
    --mixedColor8Ref: #1e352f;
    --secondaryColorRef: #101c19;
    --tertiaryColorRef: #e4001c; */