@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 16" screens */
  --header-font-size: 1.25rem;
  --title-font-size: 2.25rem;
  --title-modal-font-size: 1.5rem;
  --main-font-size: 1rem;
  --secondary-font-size: 0.85rem;

  --topbar-gap: 1rem;
  --topbar-height: 64px;
  --select-height: 32px;

  --toogle-height: 32px;
  --toogle-knob-height: 24px;
  --toogle-width: 56px;

  --logo-size: 40px;
  --avatar-size: 40px;
  --avatar-badge-size: 110px;
  --avatar-badge-gap: 0.85rem;
  --avatar-badge-username-size: 2.1rem;
  --qr-size: 200px;
  --icon-size: 20px;

  --chat-icon-size: 64px;

  --component-padding: 0.5rem;
  --sidebar-width: 30vw;
  --friends-height: 25vh;

  --button-circle-size: 2.5rem;
  --button-default-height: 2.5rem;

  --modal-height: 40vh;
  --modal-width: 30vw;
  --modal-small-height: 25vh;
  --modal-small-width: 35vw;
  --modal-large-height: 60vh;
  --modal-large-width: 50vw;
  --button-height: 2.5rem;
  --button-rounded-height: 2.15rem;
  --button-min-width: 150px;

  --auth-form-max-width: 400px;
}

@media (max-width: 1400px) {

  /* 14" screens */
  :root {
    --header-font-size: 1rem;
    --title-font-size: 2rem;
    --title-modal-font-size: 1.25rem;
    --main-font-size: 0.85rem;
    --secondary-font-size: 0.7rem;

    --topbar-gap: 0.5rem;
    --topbar-height: 56px;
    --select-height: 28px;

    --toogle-height: 28px;
    --toogle-knob-height: 20px;
    --toogle-width: 48px;

    --logo-size: 32px;
    --avatar-size: 32px;
    --avatar-badge-size: 90px;
    --avatar-badge-gap: 0.75rem;
    --avatar-badge-username-size: 1.85rem;
    --qr-size: 180px;
    --icon-size: 16px;

    --chat-icon-size: 56px;

    --component-padding: 0.5rem;
    --sidebar-width: 30vw;
    --friends-height: 30vh;

    --modal-height: 50vh;
    --modal-width: 40vw;
    --modal-small-height: 25vh;
    --modal-small-width: 35vw;
    --modal-large-height: 60vh;
    --modal-large-width: 50vw;
    --button-height: 2rem;
    --button-rounded-height: 1.85rem;
    --button-min-width: 120px;

    --auth-form-max-width: 340px;
  }
}

@media (min-width: 1920px) {

  /* Large desktop */
  :root {
    --header-font-size: 1.5rem;
    --title-font-size: 3rem;
    --title-modal-font-size: 2rem;
    --main-font-size: 1.1rem;
    --secondary-font-size: 0.95rem;

    --topbar-gap: 1rem;
    --topbar-height: 72px;
    --select-height: 36px;

    --toogle-height: 36px;
    --toogle-knob-height: 28px;
    --toogle-width: 64px;

    --logo-size: 48px;
    --avatar-size: 48px;
    --avatar-badge-gap: 1rem;
    --avatar-badge-size: 130px;
    --avatar-badge-username-size: 2.5rem;
    --qr-size: 250px;
    --icon-size: 24px;

    --chat-icon-size: 72px;

    --component-padding: 0.75rem;
    --sidebar-width: 30vw;
    --friends-height: 20vh;

    --modal-height: 50vh;
    --modal-width: 35vw;
    --modal-small-height: 25vh;
    --modal-small-width: 35vw;
    --modal-large-height: 60vh;
    --modal-large-width: 50vw;
    --button-height: 3rem;
    --button-rounded-height: 2.5rem;
    --button-min-width: 180px;

    --auth-form-max-width: 500px;
  }
}

.video-bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}

.fade-bottom {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30%;
  background: var(--fade-b);
  z-index: 2;
}

.footer {
  position: relative;
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-img {
  width: 100vw;
  min-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
  user-select: none;
  position: relative;
  z-index: 1;
}

.footer .fade-top {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30%;
  background: var(--fade-t);
  z-index: 2;
}

.screen-1 {
  background-image: var(--gradient-1) !important;
}

.screen-2 {
  background-image: var(--gradient-2) !important;
}

.game-area.with-overlay::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  pointer-events: auto;
  transition: opacity 0.3s;
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  min-height: 0;
}

@media (max-width: 1024px) {
  .page-container {
    max-width: 1024px;
  }
}

.footer {
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer-img {
  width: 100vw;
  min-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
  user-select: none;
}

.theme-primary {
  --body: #e2d7b7;
  --gradient-1: linear-gradient(178.7deg, rgb(184, 167, 122) 1.7%, rgba(226, 215, 183, 1) 63%);
  --gradient-2: linear-gradient(178.7deg, rgba(226, 215, 183, 1) 1.7%, rgb(184, 167, 122) 63%);
  --fade-b: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.01) 80%,
      rgba(184, 167, 122, 1) 100%);
  --fade-t: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.01) 80%,
      rgba(184, 167, 122, 1) 100%);
  --accent: #b8a77a;
  /* b3 = 70% alpha */
  --accent-70: #b8a77ab3;
  --accent-secondary: #856f35;
  --accent-tertiary: #560126;
  --border: #8a7676;
  --invert: 0;
  --success: #006d18;
  --warning: #ff5733;
  --warning-secondary: #c32400;
  --loading: #b8a77a;
  --text: #000000;
  --text-secondary: #4a4a4a;
  --hover: #f0e9d2;
  --google: #ffffff;
  --google-hover: #EEEEEE;
  --shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  --shadow-soft: 0 4px 16px #0004;
  --avatar-bg: rgba(0, 0, 0, 0.35);
  --game-gradient-start: #f8c434;
  --game-gradient-end: #b8a77a;
  --game-transition-bg: rgb(255, 255, 255);
  --video-transition-bg: rgba(0, 0, 0, 0.1);
  --placeholder-bg: rgba(0, 0, 0, 0.05);
}

.theme-secondary {
  --body: #06022f;
  --gradient-1: linear-gradient(178.7deg, rgb(2, 0, 20) 1.7%, rgba(31, 15, 92, 1) 63%);
  --gradient-2: linear-gradient(178.7deg, rgba(31, 15, 92, 1) 1.7%, rgb(2, 0, 20) 63%);
  --fade-b: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.01) 60%,
      rgb(2, 0, 20) 100%);
  --fade-t: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.01) 60%,
      rgb(2, 0, 20) 100%);
  --accent: #2b1583;
  /* 80 = 50% alpha */
  --accent-70: #2b1583b3;
  --accent-secondary: #4724d5;
  --accent-tertiary: #4285F4;
  --border: #8982ac;
  --invert: 1;
  --success: #018e1f;
  --warning: #ff5733;
  --warning-secondary: #c32400;
  --loading: #1f0f5c;
  --text: #ecebed;
  --text-secondary: #b8a77a;
  --hover: #2a1484;
  --google: #000000;
  --google-hover: #1e1e1e;
  --shadow: 0 8px 32px rgba(255, 255, 255, 0.25);
  --shadow-soft: 0 2px 10px 0 #ffffff44;
  --avatar-bg: rgba(255, 255, 255, 0.35);
  --game-gradient-start: #1f0f5c;
  --game-gradient-end: #1a2233;
  --game-transition-bg: rgb(0, 0, 0);
  --video-transition-bg: rgba(255, 255, 255, 0.1);
  --placeholder-bg: rgba(255, 255, 255, 0.05);
}